<!--This file start the navigation node in ROS-->


<launch>
  <master auto="start"/>
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find dennis_nav)/map/blank_map_with_obstacle.yaml"/>


  <!--- Run AMCL -->
  <!--node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find dennis_nav)/cfg/amcl_params.yaml" command="load" />
  </node-->


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find dennis_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find dennis_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find dennis_nav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find dennis_nav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find dennis_nav)/config/base_local_dennis.yaml" command="load" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="2.0" />
    <param name="planner_patience" value="8.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="3.0" />
    <param name="controller_patience" value="10.0" />
    <!---param name="base_local_planner" value="addwa_local_planner/ADDWAPlannerROS" /-->
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find dennis_nav)/cfg/rviz_navigation.rviz" output="screen"/>
</launch>
